* {
  box-sizing: border-box;

}

figure {
  margin: 0px;
  padding: 0px;
}

.container {
  display: flex;
  font-family: 'Yatra One', cursive;
  font-size: 15px;
  flex-direction: column;
  align-items: center;
  min-width: 400px;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.cat-list {
  display: flex;
  flex-flow: row wrap;
  padding: 10px;
  max-width: 100%;
  border: 5px solid #bd9335;
  border-radius: 25px;
}

.cat-container {
  display: flex;
  flex-direction: column;
  margin: 5px;
  min-width: 200px;


  max-width: 100%;
  padding: 10px 5px;
  border: 5px solid #bd9335;
  border-radius: 25px;
}

.info-panel {
  display: flex;
  justify-content: space-between;
  padding: 0 5px;
  margin-bottom: 2px;
}

.cat-pic {
  max-width: 100%;
  border-radius: 5px;
}
