*{
  box-sizing: border-box;
}

.container {
  max-width: 400px;
  //margin: 0px auto 0px auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.cat-list {
  display: flex;
  justify-content: space-around;
  border: 5px solid #bd9335;
  border-radius: 25px;
  padding: 10px;
}

.cat-container {
  border: 5px solid #bd9335;
  border-radius: 25px;
  padding: 5px;
  max-width: 300px
}

.info-panel{
  display: flex;
  justify-content: space-around;
  
}

.cat-pic {
  max-width: 100%;
  border-radius: 5px;

}
